.card-img-top{
    /* margin-left: 113px; */
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin-top: 20px;
    object-fit: cover;

}
.card{
    /* width:35vw; */
    /* height:360px; */
    /* padding:100px; */
    /* margin-right:2%; */
    display:inline-block;
    background-color: #F5F5F7;
    height:62vh;
    width:95%;
    /* border-bottom-left-radius: 25px; */
}
/* .card{
   
    padding:0px 10px 40px 10px;
    background-color: #F5F5F7;
 
    border-radius:50px;
    margin-right:10px;
    margin-bottom:10px;
} */
.all-problems{
    background-color: #3d0557;
}
/* .card-title{
    color:#FFF;
} */
.modal-backdrop{
    z-index:unset;
}

.modal{
    background-color: rgba(0, 0, 0, 0.4);
}
.problemimage{
    width:100%;
}

.user-location{
    width:100%;
    height:40px;
    border-radius: 10px;
    padding-left:20px;
    /* background-color:;   */
}
.problem-description{
    text-align: justify;
    font-size: 12px;
    color:#000000;
}
.add,.subtract{
    width:20px !important;
    height:20px !important;
    /* height:100px !important; */
    background-color:#260536;
    border-radius: 5px;
    color:#FFF;
    font-size: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.addicon,.subtracticon{
    font-size: 12px !important;
   
}
.quantity{
    font-size: 20px;
}
.quantitylist{
    width:164px;
   
    display:flex;
    align-items: center;
}
.period{
    width:150px;
    height:50px;
    box-shadow:0 2px 12px -2px #00000026;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}
.Time_period{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr)); /* Adjust the min and max width as needed */
    gap:10px;
}
.transactionmode{
    margin-top:10px;
   
}
.problemname{
    font-size: 20px;
    font-weight: 700;
    color:#000000
}
.esttime,.quantity,.brands,.date,.time,.location{
    font-size: 15px;
    font-weight: 700;
}
.price{
    font-size: 20px;
    font-weight: 800;
}
.form-select{
    margin-top:10px;
    margin-bottom: 15px;
    background-color: transparent;
    border-top:unset;
    border-radius: unset;
    border-left:unset;
    border-right:unset;
    /* color:#FFF; */
}
option:hover{
  background-color: red  !important;
  color:red;
}
.booked-btn{
    background-color: #3d0557;
    color:#FFF;
    width:150px;
    height:50px;
    border-radius: 10px;
}
/* .date{
    background-color: #f1f4f4;
} */
.login-btn,.signup-btn{
    color:#FFF;
    padding-right:15px;
    padding-left:10px;
}
.login-btn{
    border-right:2px solid white;
}
.datepicker{
    /* padding-left:20px; */
    margin-left:20px;
    border-radius:5px;
}
.clicked{
    background-color:#cedbf6  !important;
    color:#FFF !important;
}

.btn-primary:hover{
    background-color:#260536;
    color:#FFF;
    border:none;
  }
  .btn-primary{
    background-color: #801aaf;
    border:none;
  }
  .serviceproblem{
    padding-top:100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-bottom:100px; 
    grid-gap:20px;
    /* grid-auto-rows: 100px; 
    grid-auto-flow: row dense; */
    /* padding-top:100px; */
  }
  .serviceproblem .card-body{
    background-color: #FFF;
  }
  .serviceproblem .card{
    height:unset;
    background-color: unset;
    border:none;
    
  }
  .card .card-img-top{
    width:100%;
    height:unset !important;
    border-radius: unset;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    border:none;
  }
  .card-body{
    /* background-color: #FFF; */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* height:150px;
    width:195px; */
  }
  .problem-body{
    /* width: 231.5px; */
    height: 120px;
  }
  .brands,.dateandtime,.time,.period,.location,.transactionmode,.modal-title,.booking-time,.price,.quantitylist{
    color:#000000
  }
  .day{
    width:68px;
    height:68px;
    background-color:#FFF;
    box-shadow: 0 2px 12px -2px #00000026;
    margin:2px 3px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    
  }
  .firstsixdays{
    display:flex;
    
  }
  .dateandtime{
    display:flex;
    overflow-x: scroll;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .dateandtime::-webkit-scrollbar {
    width:0px;
  }
  .dateandtime::-webkit-scrollbar-thumb {
    /* background-color: rgba(255, 255, 255, 0.50);;  */
    background-color:red;
    
    border-radius: 10px;
  }
  .dayname{
    font-weight: bold;
  }
  .day:hover{
    background-color: #cedbf6;
  }
  .date-33{
    width:60px;
    height:100px;
    opacity: 0;
  }
  .date-icon{
    margin-top:60px;
  }
  .react-datepicker-wrapper{
    margin-top:-40px;
  }
  @media screen and (max-width:768px) {
    .react-datepicker{
        margin-left:200px;
    }
    .booked-btn{
      width:100px;
    }
    .book,.addtocart{
      font-size: 13px;
    }
    /* .client-card{
      height:

    } */
    
}
.probleminterval{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    gap: 10px;
}
.prob-interval{
  color:#000000;
  font-size: 15px;
  font-weight: 700;
}
.form-floating{
  margin-top:10px;
}
.empty{
  color:red;
}
  
/* .leaflet-container {
  height: 500px;
  width:100%;
}

.map-container {
  height: 500px;
    width: 500px;
    overflow: hidden;
} */
/* .map-container {
  width: 100%; 
  height: 500px;
} */

.leaflet-container{
  height: 200px!important; /* Ensure the map takes up the full height of its container */
  width: 100%; /* Ensure the map takes up the full width of its container */
}

.service-problem-page{
  overflow-anchor: none;
}
/* .fotter-page{
  height:80vh;
  background-color: red;
} */

/* .leaflet-container {
  height: 100%;
  width: 100%;
} */
  /* .react-datepicker{
    margin-right:150px;
  } */
  /* .addicon,.subtracticon{
    color:#3d0557;
  } */