*{
  margin:0;
  padding:0;
}
.navbar{
  background-color: #260536 !important;
  position: sticky;
  top: 0px;
  z-index: 10;

}
.container-fluid{
  background-color: #260536 !important;
  position:sticky;
  top:0;
  z-index: 100;
  /* height:100vh; */
  /* overflow-x: scroll; */

}
.logo{
  width:145px;
  /* height:100px; */
  object-fit: contain;

}
.nav-search{
  display:flex;
  justify-content: end;
}
.nav-link{
  padding-right:100px !important;
  color:#FFF;
  font-weight: 600;
}
.secondpage,.firstpage{
  height:500px;
}
/* .carousel{

  background-color:#260536 ;
  
} */
.firstpage,.secondpage,.thirdpage{
  object-fit: cover;
  object-position: center;
  height:500px

}
.bookservice{
  color:#FFF;
  display:flex;
  justify-content: center;
  font-size: 70px;
  font-weight: 700;
}
.sectionpadding{
  padding:40px 0px;
  background-color: #260536;
  
}
.services{
  display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
   
    
}
.service{
  color:#fecb01;
}

.services-name{
  color:#FFF;
}
.services-logo{
  width:100px;
  height:100px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  /* padding-bottom: 40px; */
}
.services-name{
  display:flex;
  justify-content: center;
  padding-top:15px;
  
}
@media (max-width:576px) {
  .services{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
      
  }
  .bookservice{
    text-align: center;
    font-size: 40px;

  }
  .result{
    border-right:unset !important;
  }
}

@media (max-width:768px){
  .info{
    padding-left: unset !important;
  }
  .img{
    position:unset !important;
  }
  .img-section{
    position:unset !important;
  }
  /* .xittodescription{
    display:unset !important;
  }
  .xitto{
    margin-left:unset !important;
  } */
}
/* .xittodescription{
  display:flex;
  justify-content: space-between;
} */
.whyxitto{

  /* text-align:justify; */
  color:#FFF;
  padding-bottom:70px;
  font-size: 70px;
    font-weight: 700;
  
  /* padding-bottom:100px; */
  /* display:flex;
  justify-content: space-between; */
}
.card{
  background: transparent;
}
.services-section{
  background-color: #3d0557;
}
.whyxitto-description{
  /* margin-left:30px; */
  padding-bottom:30px;
  /* width:72vw; */
}
.whyxitto-image{
  /* width:100px; */
  height:100px;
  /* margin-left:20px;
  border-radius: 10px; */
  
}
.info{
  color:#FFF;
  /* margin-left:100px; */
  font-size: 20px;
  padding-left:59px;
}
/* .xitto{
  width:74vw;
  margin-left:25vw;
  position:relative;
} */
/* .info-parent{
  color:#262626;
} */
.info-child{
  color:  #757575;
}
.container{
  position:relative;
}
.img-section{
  position:absolute;
  right:0;
  top:130px;
}
.description{
  /* background-color:#3d0557; */
  color:#FFF;
}
.img{
  width:100%;
  height:380px;
  
  /* height:70vh; */
  /* position:absolute;
  top: 130px;
  height:485px;
  right:0px; */

  /* margin-top: -400px; */
  /* height:400px; */
}

.card-text{
  color:#757575;
}
.description-image{
  display:flex;
  align-items: center;
}
.client-heading{
  color:#FFF;
  text-align: center;
  font-size: 70px;
  font-weight: 700;
}
.highlite{
  color:#f15b28;

}
.client-photo{
  width:100px !important;
  border-radius: 50%;
  height:100px;
}
.carousel-caption{
  right:unset !important;
  /* left:unset !important; */
  top:0px;
  height:100px;
  color:#FFF !important;

}
.reply{
  height:400px;
}
.client-reply{
  /* height:400px; */
  /* margin-top:60px; */
  color:#FFF;
}
.quote{
  color:#f15b28;
}
.result{
  border-right:5px solid #f15b28;
}
.result-data{
  font-family: myFont, SansSerif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: capitalize;
  color: #f15b28;
}
.result-header{
  font-family: myFont, SansSerif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFF;
}
.client-section{
  background-color: #3d0557;
}
.footer-container{
  /* height:300px; */
  background-color:#212121;
}
/* .subscribebtn{
  background-color: #f15b28;
  color:#FFF;
  width:150px;
  height:50px;
  border-radius: 10px;
} */
.news-letter{
  color:#FFF;
}
.send-email{
  height:50px;
  
  border-radius: 10px;
  border:none;
  padding-left:10px;
  outline: none;
}
.subscribe{
  height:50px;
  border-radius: 10px;
  background-color: #f15b28;
  border:none;
  width:100px;
  padding-left:10px;
  margin-left:10px;
}
.btn-outline-success{
  --bs-btn-color:#FFF;
  /* 
  --bs-btn-hover-color:red; */
  --bs-btn-border-color:#3d0557;
  --bs-btn-hover-bg:red;
  background-color:#3d0557 ;
  /*  */
}
.facebookicon,.twittericon,.youtubeicon,.linkedinicon,.instagramicon{
  width:30px !important;
  height:30px !important;
}
.dropdown-toggle{
  background-color: #FFF;
  color: #622691;
}
.modal-content{
  height:600px  !important;
  background-color: #3d0557;
  border-radius: 20px;
  color:#FFF;
  overflow-y: scroll;
  
}
.modal-header{
  display:flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: unset;
}
.modal-title{
  width:100%;
  text-align: center;

}
.login{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.login-user,.user-phonenumber{
  /* padding-bottom:25px; */
  border-radius:7px;
  background-color:hsl(281, 89%, 18%);
  margin-bottom:20px;
  border:2px solid #690D93;
  outline: none;
  /* padding-top:19px; */
  padding:10px;
  color:#FFF;
  width:100%;
  /* padding-left:20px; */
}
.login-user::placeholder,.user-phonenumber::placeholder{
  color:#FFF;
  font-size:16px;
  font-weight:400;

}
.login-save-btn{
  background-color:#690D93;
  height:60px;
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.btn-close{
  background-color: #FFF;
}


.signup{
  color:#cd82f0;
}
.signuplink{
  text-align: center;
}
.forgotpassword{
  text-align: end;
  color:#cd82f0;
}
.btn:hover{
  background: #fff;
    color: #3d0557;
}
@media (max-width:992px){
  .contactpage-mail{
    height:350px  !important;
  }
}
/* .show{
  width:380px;
    background-color:#FFF;
    position: fixed;
    right: 0px;
    top: 0px;
    height:100vh;
    z-index: 100;
}
.collapsing{
  display:none;
} */