.workerlist{
    margin-top:120px;
}
.yourcurrentassis{
    color:red;
}
.workerview{
    margin-left:20px;
    margin-top:40px;
}
.assistance-level{
    color:#000000;
}
.view{
    display:flex;
    justify-content: center;
    padding-top:100px;
}
.notification-dialog{
    width: 400px;
    position: absolute;
    right:269px;
    top: 45px;
}
.modal-open{
    overflow: unset !important;
    padding-right:unset!important;
}
.success{
    position:relative;
    margin-top: 80px;
}
.current-assistance,.pending-assistance{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(187px, 1fr));
    /* justify-items: center; */
}











