*{
    margin:0;
    padding:0;
    border:0;
}
.register-image{
    /* width:100%; */
    height:100vh;
    object-fit: cover;
    object-position: center;
}
.register-xitto{
    padding-top:60px;
    padding-bottom:60px;
}
.form-control::placeholder{
    color:black !important;
}

.form-control{
    border-top:none;
    border-left:none;
    border-right: none;
    border-bottom-color:#c9bebe;
}
.maleradio{
    padding-top:100px;
}
.registerpage{
    width:100%;
}
.radio-btn{
    display:flex;
    margin-right:100px;
}
.form-check-input{
    margin-right:200px;
}
.xittoimage{
    width:100px;
}
.head{
    padding-top:30px;
}
.gotologin{
    color:#592a90;
    display:flex;
    justify-content: end;
}
.reg.row{
    margin-right:unset;
}
@media screen and (max-width:992px) {
    .form-check-input{
        margin-right:10px;
    }
    /* .register-image{
        height:100%;
    } */
   
    /* .registerpage{
        width:unset;
    } */
}
@media screen and (max-width:767px) {
    .register-image{
        display:none;
    }
}