/* .services-section{
    background:url(../assets/Top_shapes.svg);
    background-size: cover;
    background-position: top;
     background-attachment: fixed
    height:400px;
    object-fit: cover;
    object-position:center;
    background-color:#f7f7f7;
  } */
/* .background-image{
    background:url(../assets/Top_shapes.svg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height:400px;
    object-fit: cover;
    object-position:center;
    background-color:#f7f7f7;

} */
.back-img-0{
    background:url(../assets/Top_shapes.svg);
    background-size: cover;
    /* background-position: top; */
    background-attachment: fixed;
    /* height:400px; */
    object-fit: cover;
    object-position:center;
    /* background-color:#f7f7f7; */

}



.our{
    color:#3f70dc;
}
.ourpartner{
    color:#612690 ;
    text-align: center;
    /* padding:20px; */
    /* padding-top: 10px; */
    /* color: #dcdcdc; */
    display: flex;
    justify-content: center;
    font-size: 3.5vw;
    font-weight: 700;
    padding-top:60px;

}
.ourpartnersection{
    background: transparent linear-gradient(180deg, #F5F5F7 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    
    opacity: 1;
    /* height:100px; */
    border-radius: 25px;
    /* padding-top: 100px; */
    margin-left: 30px;
    margin-right: 30px;
    /* padding-bottom: 50px; */
    /* height:300px; */
    /* padding-bottom:50px; */
    /* margin-bottom:50px; */
    /* height:100px; */
    


}
.partner-logo{
    object-fit: contain;
    width:213px;
    font-size: 10px;
}
@media (max-width:1200px) {
    .ourprofile-image{
        width:100px;
    }
}

@media (max-width:1400px) {
    /* .partner-logo{
        width:100% !important;
    }
    .card-img-top{
        width:50px;
        height:50px;
    } */
    .card{
        height:72vh;
    }
}

@media (max-width:992px) {
    .comma-img,.comma1{
        width:35px !important;
        /* padding:4px; */
    }
    .card-img-top{
        width:80px;
        height:80px;
    }
    .card-text{
        padding:unset!important;
    }
    .ourprofile-num{
        font-size: 30px !important;
    }
    .ourprofile-img{
        font-size: 20px;
    }
    .mobile{
        display:block !important;
    }
    .cart,.home-notification,.logo,.line{
        display:none !important;
    }
    .mobileview{
        display:flex;
        position:absolute;
        right:0;
    }
    .user-3{
        display:none !important;
    }
    .profile-dd{
        margin-right:40px
    }
    

     .mobilecart,.mob-home-notification,.mob-notification{
        width:50px;
        height:50px;
        background-color: #FFF;
        display:flex;
        align-items: center;
        border-radius: 50px;
        justify-content: center;
        margin-left:73px;
    } 
    .navbar-nav{
        margin-right:50px !important;
    }
    .register{
        display:none;
    }
   


   
    
   
}
.mobile{
    display:none;
}
@media screen and (max-width:991px) {
    .navbar-nav{
        margin-right:90px !important;
        position: absolute;
        top:0;
 
        height:100vh;
        width:50% !important;
        justify-content: start !important;
        background-color: #FFF !important;
        overflow-y: scroll;
 
    }
    .btn-close{
        display:block;
    }
    .cross-btn{
        display:flex;
        justify-content: end;
        padding:10px;
    }
    .page,.about{
        display:none;
    }
    .small-size-aboutus,.small-size-login,.small-size-logout{
        display:block !important;
        height:80px;
        padding-left:50px;
        padding-top:30px;
    }
    .small-size-details{
        display: block !important;
        line-height: 3px;
        color:#000000;
    }
    .desc-dd{
        display:block !important;
    }


    
    /* .about{
        display:none
    } */
   
    /* .home-notification{
        display:block !important;
    } */
    
}
.small-size-aboutus,.small-size-login,.small-size-logout,.small-size-details{
    display:none ;
}
@media screen and (max-width:768px) {
    .card-title{
        text-align: center;
    }
    .card-text{
        padding:0px 40px 0px 40px !important;
   
    }
    .comma1{
        margin-left:15px;
    }
    .swiper-slide{
        /* width:unset !important; */
        /* width:unset !important; */
    }
    .profile-section{
        border-right: none !important;
    }
    .terms-and-condition{
        /* display:flex; */
        display:flex !important;
        justify-content:unset!important;
        
    }
    /* .footter-row{
        width:unset!important;
    } */
    
    /* 
    .ourprofile{
        margin-left:unset !important;
    }
    .card{
        width:100%;

    }
    
    .profile-em{
        padding:30px;
    } */
}

.profile-em{
    padding:30px;
}
.partner-image{
    /* display:flex;
    justify-content: center; */
    /* overflow-x: scroll; */
    

}
/* .carousel-control-prev{
    color:red;
    background-color: red;
} */
/* .swiper{
    padding-right:5px;
    padding-left: 57px;
}
.swiper-pagination{
    position:unset !important;
} */
.workflow{
    width:100%;
    /* height:100px; */
}
.card-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:#612690;
    /* padding-left:19px; */
    font-weight: bold;
    
}
.comma1{
    display:flex;
    /* justify-content:end; */
    align-items: end;
    width:60px;
}
/* .what-our-client-say{
    padding:20px;
} */
/* .comma-img,.comma1-img
{
    width:100%;
} */
.comma-img{
    /* margin:14px; */
    /* margin-top:23px; */
    /* margin-left:10%; */
    width:60px;
    /* width:60px; */
}
.comma1-img{
    margin-bottom: -20px;
    /* margin-right: 16px; */
}
/* .partner-image::-webkit-scrollbar {
    width: 70px;
  }

  .partner-image::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.50);; 
    
    border-radius: 10px;
  } */
.client-page{
    /* display:flex;
    justify-content: center; */
    padding-left:20px;
    padding-right:20px;
}
.swiper-wrapper{
    /* display:flex;
    justify-content: center; */
    /* padding-right:unset ;
    padding-left:unset; */
}
.client-image{
    display:flex;
    justify-content:end;
    align-items: center;
}
.client-card{
    /* height:200px; */
}
.em-2{
    padding:10px;
}
.swiper-slide{
    height:100% !important;
    /* margin-right: unset !important; */
    /* width:36.3vw  !important;
    margin-right:10px !important; */

}
.footter-image{
    width:100%;
}
.foot{
    background: transparent linear-gradient(90deg, #8752AE 0%, #531682 100%) 0% 0% no-repeat padding-box; ;
}
.footter{
    /* background: transparent linear-gradient(90deg, #8752AE 0%, #531682 100%) 0% 0% no-repeat padding-box; */
    background:url(../assets/FooterImage.png);
    background-size: cover;
    /* background-position: top; */
    /* background-attachment: fixed; */
    height:700px;
    object-fit: cover;
    object-position:center;

}
.footter-row{
    width:100%;
}
.ourprofile{
    /* width:100%; */
    /* height:150px; */
    background-color:#FFBE1C;
    margin-top:40px;
    border-radius: 50px;
    /* margin-left:-30px; */
    /* margin-left:-20px; */

}
/* .row{
    margin-left:unset;
} */
.ourprofile-img{
    color:#FFF;
    text-align: center;
}
.ourprofile-num{
    text-align: center;
    color:#FFF;
    font-size: 50px;
}
.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    border-right: 2px solid #fff;
}
.profile-section:nth-child(3){
    border-right: none; /* Remove border for the third image */
}

/* .row,.footter-row{
    margin-left:unset;
} */
.padding{
    padding-top:60px;
}

.footter-xitto{
    display:flex;
    align-items: center;
    justify-content: center;
    height:60px;
}
.footter-xitto-copyright{
    display:flex;
    align-items: center;
    height:80px;
    color:#612690;
}
.terms-and-condition{
    display:flex;
    justify-content:end;
    align-items: center;
    color:#612690;
}
.footterimg{
    width:200px;
}
.copyright{
    width:100%;
}
.cart,.home-notification,.profile-dd{
    width:50px;
    height:50px;
    background-color: #FFF;
    display:flex;
    align-items: center;
    border-radius: 50px;
    display:flex;
    justify-content: center;

}
.home-notification:hover{

    background-color:#612690;
    color:red
}
.line{
    width:3px;
    margin-left:20px;
    margin-right:20px;
    background-color:#612690;
}
.user-3d{
    color:#612690;
}
.user-3{
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 0px;
    margin-top:18px;
}
.navbar-nav{
    width:100%;
    display:flex;
    justify-content: end;
    /* background-color: #FFF; */
    background-color:#cedbf6;
    
}
.register{
    color:#C84C20;
}
.about{
    color:#612690;

}
.dd{
    margin-right:78px;
    background-color: #612690;
}
.noti{
    width:100% !important;
    height:100% !important;
    color: #3f70dc;
}
.page{
    position: absolute;
    width: 220px;
    height: 400px;
    background-color:#FFF;
    margin-left: -100px;
    margin-right: 100px;
    margin-top:40px;
    border-radius: 10px;
    padding:10px;
}
.accountcircleicon{
    width:200px;
    height:100px;
    color:black;
    font-size: 50px !important;
}
.register-icon,.login-icon,.logout-icon{
    color:black;
}
.profile{
    color:#000000;
    line-height: 15px;
    padding-left: 20px;
    /* padding-left: 40px;
    line-height: 15px; */
    /* border-bottom: 1px solid black; */
    /* padding-left:40px;
    display:flex;
    align-items: end; */
    /* font-size: 19px; */
    /* margin-left:10px;
    display:flex;
    align-items: center; */
}
.register-user{

    display:flex;

}

.padding-left{
    display:inline;
    padding-left:30px;
}
hr,.reg{
    color:#000000;
}
.cart-img{
    width:80%;
}
.desc-dd{
    margin-top:100px;
    padding-left:40px;
    display:none;
}
.joinus{
    background-color: orange;
    border-radius: 10px;
    width:150px;
    height:50px;
}